Items I wish to receive from others:

<%= link_to 'New Item', new_user_user_item_path %>

<ul>
  <% @user_items.each do |item| %>
    <li>
      <%= item[:name] %>, Multiple claims allowed?: <%= item[:claim_more_than_once] %>
      <% item[:occasions].each do |o| %>
        <div>
          <%=o.name%>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Occasion', new_occasion_path %>

<% if @occasions %>
  <ul>
    <% @occasions.each do |o| %>
      <li>
        <%= link_to(occasion_path(o)) do %>
          <%= o.name %>
            <% if o.date? %>
              on <%= o.date.to_formatted_s(:long_ordinal)%>
            <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
