Items I wish to receive from others:

<%= link_to 'New Item', new_user_user_item_path %>

<ul>
  <% @user_items.each do |item| %>
    <li><%= item.name %>, Can be claimed more than once?: <%= item.claim_more_than_once %></li>
  <% end %>
</ul>

<%= link_to 'New Occasion', new_occasion_path %>

<% if @occasions %>
  <ul>
    <% @occasions.each do |o| %>
      <li><%= o.name %> | Date:  <%= o.date %></li>
    <% end %>
  </ul>
<% end %>
